---
import Layout from '../layouts/Layout.astro';
import { Image } from 'astro:assets'
import froggyImage from '../images/froggy.png'

---

<Layout title="frug">
	<main>
		<div class="container top">
			<Image src={froggyImage} alt="A frug." width="" height=""/>
			<div class="glowing-background">
			</div>
		</div>
		<div class="container bottom">
		</div>
	</main>
</Layout>

<style lang="scss">
	img {
		position: relative;
		width: 25vw;
		min-width: 220px;
		height: auto;
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-40%, 50%);
		z-index: 3;
	}
	.container {
		position: relative;
		width: 100vw;
		height: 100vh;
		&.top {
			background: radial-gradient(circle at 50% 100%, rgb(249, 237, 105) 30%, rgb(240, 138, 93) 60%, rgb(184, 59, 94) 90%, rgb(106, 44, 112) 100%);
		}
		&.bottom {
			background: radial-gradient(circle at 50% 0%, rgb(249, 237, 105) 30%, rgb(240, 138, 93) 60%, rgb(184, 59, 94) 90%, rgb(106, 44, 112) 100%);
		}
	}
</style>
